.title{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
}

.label{
    float:none;
    background:white;
    padding: 10px;
    border-radius: 20px;    
    color: black;
    box-shadow:5px 5px 5px grey;

}

.contents{
    font-size: 18px;
}